body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 181, 205);
}

.container {
    background: rgb(217, 255, 216);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    background-color: rgb(131, 255, 141);
    transition: background-color 0.5s ease;
    border: none;
    border-radius: 7px;
}
button:hover {
    background-color: rgb(0, 199, 0);
    opacity: 70%;
}

input {
    border-radius: 5px;
    border: none;
    background-color:rgb(147, 255, 255);
}

li {
    cursor: pointer;
}

.concluido {
    text-decoration: line-through;
}